<% @artists.each do |artist| %>
  <h2><%= link_to artist.full_name, artist_path(artist) %></h2>
  <div id="<%= artist.username %>" class="grid">
    <% artist.items.each do |item| %>
      <%= render partial: 'shared/item_card', locals: { item: item } %>
    <% end %>
  </div>
<% end %>
