<h2><% if @artist.file_upload_file_name %>
      <%= image_tag @artist.file_upload.url(:thumb), class: "artist_thumb circle"%>
    <% end %><%= @artist.full_name %> </h2>

<div class="grid">
  <% @artist.items.each do |item| %>
    <%= render partial: "shared/item_card", locals: { item: item } %>
  <% end %>
</div>
