<div>

  <div class="btn index_button" id="browse_artist_button">
    <%= link_to("Browse by Artist", class: "waves-effect waves-light btn") %>
  </div>

  <div class="btn index_button" id="browse_cat_button">
    <%= link_to("Browse by Category", class: "waves-effect waves-light btn") %>
  </div>
  <br>

  <div class="btn index_button" id = "create_acct_button">
    <%= link_to("Create New Account", class: "waves-effect waves-light btn") %>
  </div>

</div>
