<h3>All Orders</h3>
<div class="row">
  <div class="col s12 m12">
    <% @orders.each do |order| %>
      <%= render partial: "order_card", locals: { order: order } %>
    <% end %>
    <br>
  </div> <!-- col s12 -->
</div> <!-- row -->
