<h2>All Orders</h2>
<div class="row">
  <div class="col s12 m12">
    <% @orders.reverse.each do |order| %>
      <%= render partial: "shared/order_card", locals: { order: order } %>
    <% end %>
    <br>
  </div> <!-- col s12 -->
</div> <!-- row -->
