/* DARKER GREEN #6C8672
 LIGHTER GREEN #C4D4AF
 BLUEISH #68A8AD
PURPLY #737495
 PINK #F17D80 */


/* MAIN STYLES */

p {
  font-size: 20px;
}

img {
  max-width: 100%;
}

h1.home_title {
    font-family: 'Rock Salt', cursive;
    position: relative;
    top: -85px;
    letter-spacing: 1.2rem;
    color: #cccccc;
    text-shadow: 3px 5px 10px #000000;
}

h2 {
    font-size: 5rem;
    letter-spacing: 1.1rem;
    font-family: 'Amatic SC', cursive;
}

h3  {
  font-weight: 100;
}

a {
  color: #6C8672
}

a:hover {
  color: #C4D4AF;
}

/* NAVBAR */

nav .nav-wrapper {
  background-color: #507D80;
}

nav ul a {
  color: #C4D4AF;
}

nav ul a:hover {
    background-color: rgba(0,0,0,0.1);
    color: #ddd;
}

/* ORDERS */

.status_ordered{
  color: #ffa000;
}

#order_link1 {
  padding-right: 40px;
}

#order_link2 {
  padding-left: 40px;
}

.status_paid{
  color: green;
}

.status_cancelled{
  color: red;
}

.status_completed{
  color: black;
}

#order_status {
  width: 200px;
  margin: 5px auto 20px auto;
}

/* BUTTONS */

.remove-item-button {
  font-size: 14px;
  position: relative;
  top: -62px;
  left: 150px;
}

.login_confirm {
  color: #F17D80;
}

.img-small {
  max-width: 100%;
}

.highlight tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: white;
}

#price {
  padding-top: 25px;
}

#remove {
  padding-left: 10px;
  padding-top: 10px;
}

.container {
  padding-top: 20px;
}

.landing_page {
  background-image: url('bg2.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;
}

.error {
  background-color: red
}

.error {
  background-color: red
}

.landing_buttons {
  position: relative;
  top: 200px;
}

.btn_landing_page.index_button {
  background-color: rgba(104, 168, 173, 0.7)!important;
  height: 70px!important;
  padding: 0px;
}

.btn_landing_page:hover.index_button {
  background-color: rgba(104, 168, 173, 0.9)!important
}

.index_button a {
    display: block;
    height: 100%;
    padding: 20px;
    color: #fff;
}

.index_button a:hover {
  color: #C4D4AF;
}

.btn {
  margin: 3px;
  background-color: #6C8672!important;
  color: #C4D4AF
}

.btn:hover {
  background-color: #C4D4AF!important;
  color: #6C8672;
}

.btn_edit {
  background-color: rgba(115, 127, 149, 1)!important;
}

.btn_edit:hover {
  background-color: rgba(115, 127, 149, 0.8)!important;
}

.btn_delete {
  background-color: rgba(104, 168, 173,1)!important;
}

.btn_delete:hover {
  background-color: rgba(104, 168, 173,0.8)!important;
}

#browse_artist_button {
  width: 215px;
}

#browse_cat_button {
  width: 215px;
}

#create_acct_button {
  margin-top: 5px;
  width: 435px;
}

.active_status_text {
  color: #6C8672;
  font-weight: 100;
}

.inactive_status_text {
  color: #C4D4AF;
  font-weight: 100;
}

.pink_error_text {
  color: #F17D80;
}

/* MASONRY */

.grid-item {
  width: 315px;
}

.grid {
  margin: 0 auto;
}

/* CARDS */

.card-title {
  opacity: 0.8;
}
.title-links{
font-family: 'Amatic SC', cursive;
font-size: 40px
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

/* FLASH MESSAGES */

.flash_success {
  background-color: #ccff90;
  text-align: center;
  font-size: 1.2em;
}

.flash_error {
  background-color: #f25050;
  text-align: center;
  font-size: 1.2em;
}

/* ORDERS SHOW PAGE */

.order_image.col.s5 {
    clear: both;
}

.order_card_title {
    font-size: 30px;
    display: block;
    padding-bottom: 17px;
    font-weight: 700;
}

.order_details_top {
    font-size: 15px;
    padding: 20px 0px;
    font-weight: 300;
    border-bottom: 1px dashed #607D8B;
}

span.order_heading {
    font-weight: 700;
    text-decoration: underline;
    margin-right: 10px;
}

.order_data {
    text-align: left;
    font-size: 17px;
}

.order_data a {
  font-size: 20px;
  color: rgb(64, 136, 171);
}

.order_data a:hover {
    color: #0EAF15;
}

.card-panel {
  margin-top: 2rem;
}

/* FORM STYLING */
form.profile_form {
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 1px 53px #C5C5C5;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 1.3rem;
    font-weight: 100;
    color: #9e9e9e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
input[type=file],
textarea.materialize-textarea {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.dropdown-content li {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
}

.upload_file {
  padding-left: 110px;
}

select {
  display: block;
  font-size: 20px;
  width: 300px;
  margin: 0 auto;
}


/***** SIDE NAV ******/

.side-nav {
  background-color: rgba(0,0,0,0.7);
}

.side-nav a {
  color: #7E8D94;
  font-size: 15.5px;
}

.side-nav a:hover {
  background-color: transparent;
  color: #fff;
}
.side-nav li {
  border-bottom: 1px solid #303F46;
}

.side-nav li:hover {
  background-color: rgba(89, 107, 115, 0.62);
}

/***** USERS SHOW PAGE *****/

.user_action_links .action_box {
  margin-bottom: 10px;
}

.user_action_links .action_box a {
    color: #C4D4AF !important;
    display: block;
    padding: 20px;
    background-color: #6C8672
}

.user_action_links .action_box a:hover {
    color: #6C8672 !important;
    background-color: #C4D4AF;
}

.larger-text {
  font-size: 20px;
}

/* MEDIA QUERIES */

@media screen only and (max-width: 990px) {
  .brand-logo {
    position: absolute;
    right: 0px;
  }
}
