img {
  max-width: 700px;
}

.remove-item-button {
  font-size: 14px;
  position: relative;
  top: -56px;
  left: 150px;
}

.img-small {
  max-width: 100%;
}

#quantity {

}
#price {
  padding-top: 25px;
}

#remove {
  padding-left: 10px;
  padding-top: 10px;
}

.container {
  padding-top: 20px;
}

.landing_page {
  background-image: url('bg2.jpg');
  background-size: cover;
}

.btn_landing_page {
  background-color: rgba(255,255,255,0.8)!important;
  height: 70px!important;
}

.btn_landing_page:hover {
  background-color: rgba(255,255,255, 1)!important;
}

.index_button a {
    color: #645352;
    position: relative;
    top: 15px;
    font-size: 15px;
}

#create_acct_button a {
    position: relative;
    top: 10px;
}

.index_button {
  position: relative;
  top: 250px;
}

#create_acct_button {
    height: 50px!important;
    margin-top: 15px;
    width: 500px;
}

#browse_cat_button {
    margin-left: 35px;
}

.grid-item {
  width: 315px;
}

.grid {
  margin: 0 auto;
}

.card-title {
  opacity: 0.8;
}

/* Flash Messages */

.flash_success {
  background-color: #ccff90;
  text-align: center;
  font-size: 1.2em;
}

.flash_error {
  background-color: #f25050;
  text-align: center;
  font-size: 1.2em;
}
