img {
  max-width: 100%;
}

h2 {
    font-size: 5rem;
    letter-spacing: 1.1rem;
    font-family: 'Amatic SC', cursive;
}
/*
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}*/

.status_ordered{
  color: yellow;
}

.status_paid{
  color: green;
}

.status_cancelled{
  color: red;
}

.status_completed{
  color: black;
}

.remove-item-button {
  font-size: 14px;
  position: relative;
  top: -56px;
  left: 150px;
}

.login_confirm {
  color: #a7ffeb;
}

.img-small {
  max-width: 100%;
}

#price {
  padding-top: 25px;
}

#remove {
  padding-left: 10px;
  padding-top: 10px;
}

.container {
  padding-top: 20px;
}

.landing_page {
  background-image: url('bg2.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;
}

.error {
  background-color: red
}

.error {
  background-color: red
}

.landing_buttons {
  position: relative;
  top: 200px;
}

.btn_landing_page {
  background-color: rgba(255,255,255,0.8)!important;
  height: 70px!important;
  padding: 0px;
}

.btn_landing_page:hover {
  background-color: rgba(255,255,255, 1)!important;
}

.index_button a {
    display: block;
    height: 100%;
    padding: 20px;
    color: #686868;
}

.index_button a:hover {
  color: #000;
}

#browse_artist_button {
  width: 215px;
}

#browse_cat_button {
  width: 215px;
}

#create_acct_button {
  margin-top: 5px;
  width: 435px;
}


.grid-item {
  width: 315px;
}

.grid {
  margin: 0 auto;
}

.card-title {
  opacity: 0.8;
}
.title-links{
font-family: 'Amatic SC', cursive;
font-size: 40px
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

/* Flash Messages */

.flash_success {
  background-color: #ccff90;
  text-align: center;
  font-size: 1.2em;
}

.flash_error {
  background-color: #f25050;
  text-align: center;
  font-size: 1.2em;
}

/* ORDERS SHOW PAGE */

.order_image.col.s5 {
    clear: both;
}

.order_card_title {
    font-size: 30px;
    display: block;
    padding-bottom: 17px;
    font-weight: 700;
}

.order_details_top {
    font-size: 15px;
    padding: 20px 0px;
    font-weight: 300;
    border-bottom: 1px dashed #607D8B;
}

span.order_heading {
    font-weight: 700;
    text-decoration: underline;
    margin-right: 10px;
}

.order_data {
    text-align: left;
    font-size: 17px;
}

.order_data a {
  font-size: 20px;
  color: rgb(64, 136, 171);
}

.order_data a:hover {
    color: #0EAF15;
}

.card-panel {
  margin-top: 2rem;
}

/* FORM STYLING */

form.profile_form {
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 1px 53px #C5C5C5;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 1.3rem;
    font-weight: 100;
    color: #9e9e9e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.dropdown-content li {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
}

@media screen only and (max-width: 990px) {
  .brand-logo {
    position: absolute;
    right: 0px;
  }
}
