img {
  max-width: 700px;
}

.img-small {
  max-width: 250px;
}

.container {
  padding-top: 20px;
}

.landing_page {
  background-image: url('bg2.jpg');
  background-size: cover;
}

.btn_landing_page {
  background-color: rgba(255,255,255,0.8)!important;
  height: 70px!important;
}

.btn_landing_page:hover {
  background-color: rgba(255,255,255, 1)!important;
}

.index_button a {
    color: #645352;
    position: relative;
    top: 15px;
    font-size: 15px;
}

#create_acct_button a {
    position: relative;
    top: 10px;
}

.index_button {
  position: relative;
  top: 250px;
}

#create_acct_button {
    height: 50px!important;
    margin-top: 15px;
    width: 500px;
}

#browse_cat_button {
    margin-left: 35px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 /**= require_tree .
 *= require_self*/

.grid-item {
  width: 315px;
}

.grid {
  margin: 0 auto;
}

.card-title {
  opacity: 0.8;
}
