<% @categories.each do |category| %>
  <h2><%= category.name %></h2>
  <div id="<%= category.name %>" class="grid">
    <% category.items.each do |item| %>
      <%= render partial: 'shared/item_card', locals: { item: item } %>
    <% end %>
  </div>
<% end %>
