  <nav>
    <div class="nav-wrapper #607d8b blue-grey" >
      <%= link_to "RoughSketch", items_path %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Art", items_path %></li>
        <li><%= link_to "Artist", items_path %></li>
        <li><%= link_to "Category", items_path %></li>
      </ul>
    </div>
  </nav>
