<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
      <div class="caption">
        <%= render partial: "layouts/home_content" %>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption">
        <%= render partial: "layouts/home_content" %>
      </div>    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
      <div class="caption">
        <%= render partial: "layouts/home_content" %>
      </div>    </li>
  </ul>
</div>
