<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>

  <body>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <%= render partial: "layouts/navbar" %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "flash_#{type}" %>
    <% end %>

  <div class="container center-align">
    <%= yield %>
  </div>

  <script type="text/javascript">
    $grid = $('.grid');

    $grid.imagesLoaded( function(){
      $grid.masonry({
        itemSelector: '.grid-item',
        columnWidth: 370,
        isFitWidth: true
      });
    });
  </script>

  <script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  })
  </script>

  </body>
</html>
